:root {
    --bgr-primery: #4FBFA5;
    --bgr-secondary: #00868A;
    --text-color-primery: #FFFFFF;
    --text-secondare: #000000;
    --main-font-family: Gilroy, sans-serif;

}

body {
    font-weight: 500;
    /* font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif; */
    font-family: 'Gilroy-Regular', sans-serif;

}
.container {
    margin: 0 auto;
    max-width: 1295px;
    height: auto;
   padding-left: 15px;
   padding-right: 15px;

}

.btn-main {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 15px 10px;
font-family: Gilroy;
font-size: 18px;
line-height: calc(21 / 18);
}

.btn-header-futer {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px 8px;
background: var(--bgr-secondary);
font-family: Gilroy;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0em;
min-width: 270px;
height: 40px;
}


/* ---------header----------- */


.header-list-top-left, .header-list-bottom  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17px 0;
  
}
.header-list-top-left {
margin-right: 60px;
display: flex;
align-items: center;
}
  
  .header-logo {
      margin-right: 65px;
  }
  .header-tel {
      margin-right: 60px;
  }
.btn-header-top {
    margin-right: 60px;
    text-transform: uppercase;
}
..btn-header-icon {
    fill: var(--text-color-primery);
}
  .btn-header-futer:hover .btn-header-icon, 
  .btn-header-futer:focus .btn-header-icon,
  .btn-header-futer:hover , 
  .btn-header-futer:focus {
      background-color: var(--bgr-primery);
      color: var(--text-color-primery);
      fill: red;
  }

.btn-header-icon {
    margin-right: 4px;
}
.header-list-top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item-top-right:not(last-child) {
    margin-right: 56px;
}

.header-item-bottom:first-child {
    margin-left: 51px;
}
.header-item-bottom a{
  color: var(--text-color-primery);  
}
.header-item-bottom:not(last-child) {
    margin-right: 65px;
}
.header-btn-bottom {
    margin-right: 10px;
    width: 175px;
}
.header-top-left-link {
color: var(--text-secondare);
display: flex;
align-items: center;
justify-content: center;

}
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgr-primery);
    padding: 24px 0;
    
}
.header-top-icon {
    margin-left: 15px;
    fill: var(--bgr-primery);
}
.logo-icon {
    fill: var(--bgr-secondary);
}
.header-list-bottom {
    align-items: center;
}
.header-item-top-left {
    display: block;
    min-width: 139px;
    height: 20px;
}
.header-tel {
    min-width: 125px;
}

/* ------Hero----- */

.row {
    display: flex;
    justify-content: center;
}
.hero-low {
    background-color: var(--bgr-primery);
}
.left-column {
 max-width: 416px;
 width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 position: relative;
}
.left-column-title {
font-weight: bold;
font-size: 48px;
line-height: 1.5;
color: var(--text-color-primery);
margin-bottom: 20px;
}
.hero-text {
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: var(--text-color-primery);
margin-bottom: 40px;
max-width: 416px;
}
.hero-btn {
background-color: var(--bgr-secondary);
font-size: 18px;
line-height: calc(21 / 18);
letter-spacing: 0.05em;
text-transform: uppercase;
color: var(--text-color-primery);
max-width: 163px;
padding: 15px 25px;
cursor: pointer;
}
.toggle-slider {
    display: flex;
   position: absolute;
   bottom: 60px;
   right: 60px;
   
   background-color: transparent;
}
.toggle-slider-btn {
    background-color: transparent;
    border: 1px solid var(--text-color-primery);
    width: 60px;
   height: 50px;
   font-family: Arial,sans-serif;
   color: var(--text-color-primery);
}
.right-column {
    width: calc(100% - 416px);
}
.btb-nav-list {
    display: flex;
    justify-content: center;
}
.btb-nav-list li {
    width: 33.3%;
}
.btn-nav {
    width: 100%;
    padding: 24px;
    background-color: var(--bgr-secondary);
    cursor: pointer;
    color: var(--text-color-primery);

}
.btn-nav.active {
    background-color: var(--bgr-primery); 
}



/* -------Information------- */


.left-column-inf {
    display: flex;
    flex-direction: column;
    background-color: var(--bgr-secondary);
    max-width: 526px;
}
.left-column-inf-top {
    flex-direction: column;
    padding: 35px 40px ;
}

.left-column__btn {
width: 125px;
padding: 9px 15px;
margin-bottom: 30px;
background-color: var(--bgr-primery);
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: calc(21 / 18);
color: var(--text-color-primery);

}

.left-column__title {
    max-width: 400px;
font-weight: 500;
font-size: 30px;
line-height: 150%;
color: var(--text-color-primery);
margin-bottom: 25px;
}

.left-column__link {
    display: flex;
    align-items: center;
    
font-weight: bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.05em;
text-transform: uppercase;
color: var(--text-color-primery);

}
.left-column__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    font-style: 30px;
    font-family: Arial,sans-serif;
    border: 1px solid #FFFFFF;
    color: var(--text-color-primery);
margin-right: 20px;
}
.left-column-inf__picture {
    width: 100%;
}
.achievement {
  display: flex;
  justify-content: space-between;
}
.achievement-right-column {
    
    margin-left: 134px;
}

.achievement__btn {
padding: 9px 15px;
font-family: Gilroy;
font-weight: 500;
min-width: 186px;
font-size: 18px;
line-height: calc(21 / 18);
color: var(--text-color-primery);
background-color: var(--bgr-primery);
margin-bottom: 30px;
}
.achievement__link {
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: var(--text-secondare);
margin-bottom: 45px;
}
.achievement__image {
   margin-top: 200px;
}

/* -------News------- */

.left-column {
    max-width: 526px;

}
.left-column__link {
display: flex;
 align-items: center;
 justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
    background-color: var(--bgr-secondary);
    color: var(--text-color-primery);
    width: 101px;
    padding: 9px 15px;
    margin-bottom: 30px;
}
.left-column__list {
    padding: 35px 40px;
    background-color: var(--bgr-secondary);
}
.left-column__btn {
font-weight: 500;
font-size: 18px;
line-height: 150%;
color: #FFFFFF;
width: 100%;
}

.right-column-news {
background-color: #00868A;
opacity: 0.1;
padding: 35px 60px 78px;
}

.news-artical__title {
font-weight: bold;
font-size: 24px;
line-height: 150%;
color: var(--text-secondare);
margin-bottom: 25px;
}
.news-artical__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

}