.information-card {
    margin-top: 80px;
}

.left-column-inf {
    display: flex;
    flex-direction: column;
    background-color: var(--bgr-secondary);
    max-width: 526px;
    
}
.left-column-inf-top {
    flex-direction: column;
    padding: 35px 40px ;
}

.left-column-inf__btn {
min-width: 50px;
padding: 9px 15px;
margin-bottom: 30px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: calc(21 / 18);
color: var(--text-color-primery);
background-color: var(--bgr-primery);

}

.left-column__title {
    max-width: 400px;
font-weight: 500;
font-size: 30px;
line-height: 150%;
color: var(--text-color-primery);
margin-bottom: 25px;
}

.left-column__link {
    display: flex;
    align-items: center;
    
font-weight: bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.05em;
text-transform: uppercase;
color: var(--text-color-primery);

}
.left-column__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    font-style: 30px;
    font-family: Arial,sans-serif;
    border: 1px solid #FFFFFF;
    color: var(--text-color-primery);
margin-right: 20px;
}
.left-column-inf__picture {
    width: 100%;
}
.achievement {
  display: flex;
  padding: 34px 0 60px 134px;
  justify-content: space-between;
}
.achievement-right-column {
    width: 50%;
}

.achievement__btn {
padding: 9px 15px;
font-family: Gilroy;
font-weight: 500;
min-width: 186px;
font-size: 18px;
line-height: calc(21 / 18);
color: var(--text-color-primery);
background-color: var(--bgr-primery);
margin-bottom: 30px;
}
.achievement__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 72px;
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: rgba(0, 0, 0, 0.3);
margin-bottom: 15px;
padding-left: 70px;
}
.achievement__link::before {
    position: absolute;
    display: inline-block;
    content: "78";
top: 0;
left: 0;
    width: 50px;
    height: 72px;
    font-family: 'Gilroy-Medium', sans-serif; 
    font-weight: 500;
   font-size: 48px;
   line-height: calc(72 / 48);
   color: rgba(0, 0, 0, 0.3);  

}
.achievement__image {
   margin-top: 200px;
   min-width: 306px;

}
.achievement__link--active {
min-width: 319px;
height: 144px;
font-size: 28px;
line-height: 150%;
color: var(--text-secondare);
}

.achievement__link--active::before {
    font-size: 96px;
    line-height: 150%;
    color: var(--bgr-secondary);
    width: 110px;
}

.achievement__text--active {
 position: absolute;
 display: flex;
align-items: center;
min-width: 319px;
width: 100%;
height: 144px;
padding-left: 140px;
font-size: 28px;
line-height: 150%;
color: var(--text-secondare);
}
